* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(assets/Images/bg.jpg);
    height: 70vh;
    background-size: max(1200px, 100vw);
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;

}

.main .box {
    height: 70vh;
    width: 100%;
    background-color: black;
    opacity: 0.69;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    height: 62px;
}

nav img {
    width: 114px;
    position: relative;
    z-index: 10px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0px 30px;
}

.hero> :nth-child(1) {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: gray;
}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: white;
    border: none;
    color: white;
    background-color: rgba(248, 243, 243, 0.158);
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    color: white;
    background-color: red;
    border: none;
    padding: 7px 24px;
    font-size: 15px;
    border-radius: 4px;
    font-weight: 400;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.btn-red-sm {
    color: white;
    background-color: red;
    border: none;

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}

.secImg img {
    width: 555px ;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 517px;
    right: 251px;
    width: 22vw;

}

.first>div {
    display: flex;
    flex-direction: column;
}

.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}

.first>div :nth-child(2) {
    font-size: 25px;
    font-weight: bolder;

}

.second img {
    width: 260px;
    margin: 20px
}

.faq h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.faq {
    background-color: black;
    color: white;
    padding: 34px;
}

.faqbox svg {
    height: 30px;
}

.faqbox {
    font-size: 24px;
    max-width: 46vw;
    justify-content: space-between;
    display: flex;
    background-color: rgb(39 39 39);
    padding: 20px;
    margin: 10px auto;
    cursor: pointer;
}
.faqbox:hover{
    background-color: brown;

}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 60vw;
    margin: auto;
    
}
footer .questions{
    padding: 34px 0;
}
.footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}